<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.txy.graduate.mapper.RoleMapper">
    <select id="findRoleByUser_id" parameterType="String" resultType="role">
        select * from graduate.tb_role
        where role_id = (select role_id from graduate.user_role where user_id=#{user_id})
    </select>

    <insert id="saveUserAndRole" parameterType="map">
        insert into graduate.user_role(user_id, role_id) values (#{user_id},#{role_id})
    </insert>

    <delete id="removeUserAndRoleByUId" parameterType="String">
        delete from graduate.user_role where user_id = #{user_id}
    </delete>

    <delete id="removeUserAndRoleByRId" parameterType="int">
        delete from graduate.user_role where role_id = #{role_id}
    </delete>
</mapper>