<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.txy.graduate.mapper.StudentMapper">
    <sql id="student_profile">
        select id,
               student_id,
               student_name,
               student_class
        from levelSchool.tb_student
    </sql>

    <select id="selectStatusCount" resultType="map">
        select count(id)                               'total',
               cast(sum(report_status) as unsigned)    'report',
               cast(sum(audit_status) as unsigned)     'graduation',
               cast(sum(owe_status) as unsigned)       'owe',
               cast(sum(book_status) as unsigned)      'book',
               cast(sum(archives_status) as unsigned)  'archive',
               cast(sum(dormitory_status) as unsigned) 'dormitory',
               cast(sum(diploma_status) as unsigned)   'diploma'
        from levelSchool.tb_student;
    </select>

    <select id="selectNoteCount" resultType="map">
        select cast(sum(report_note_status) as unsigned)    'report',
               cast(sum(audit_note_status) as unsigned)     'graduation',
               cast(sum(owe_note_status) as unsigned)       'owe',
               cast(sum(book_note_status) as unsigned)      'book',
               cast(sum(archives_note_status) as unsigned)  'archive',
               cast(sum(dormitory_note_status) as unsigned) 'dormitory',
               cast(sum(diploma_note_status) as unsigned)   'diploma'
        from levelSchool.tb_student;
    </select>

    <delete id="deleteByStudentId" parameterType="long">
        delete
        from levelSchool.tb_student
        where student_id = #{student_id}
    </delete>

    <select id="selectByIdOrName" parameterType="String" resultType="com.txy.graduate.domain.po.Student">
        <include refid="student_profile"/>
        where tb_student.student_id like concat(#{content},'%')
        union all
        <include refid="student_profile"/>
        where tb_student.student_name like concat(#{content},'%') limit 0,5;
    </select>

    <select id="isExistedByStudentId" resultType="com.txy.graduate.domain.po.Student" parameterType="String">
        select id
        from levelSchool.tb_student
        where student_id = #{studentId}
    </select>

    <select id="selectStudentIdById" resultType="java.lang.String">
        select student_id
        from levelSchool.tb_student
        where id = #{id}
    </select>

    <select id="selectAll" resultType="com.txy.graduate.domain.dto.StudentDTO">
        select student_id,
               student_name,
               student_dep,
               student_pre,
               student_class,
               if(student_status = 1, '已完成', '未完成') as 'student_status'
        from levelSchool.tb_student
    </select>
</mapper>